[project]
name = "translate"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "boto3>=1.42.38",
]

[dependency-groups]
dev = [
    "pytest>=9.0.2",
]
